@(title: String)(content: Html)
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script src='@routes.Assets.at("javascripts/jquery.js")' type="text/javascript"></script>
    <script src='@routes.Assets.at("bootstrap/js/bootstrap.min.js")' type="text/javascript"></script>
    <link rel="stylesheet" href='@routes.Assets.at("bootstrap/css/bootstrap.min.css")' />
<title>@title</title>
</head>
<body>
	<div class="row-fluid">
		<div class="offset1 span10">
			<div class="navbar">
				<div class="navbar-inner">
					<ul class="nav">
						<li><a href="@controllers.routes.Application.index">Lista</a></li>
                        <li><a href="@controllers.accounts.routes.AccountController.newAccount()">Nowy</a></li>
					</ul>
				</div>
			</div>
			@content
		</div>
	</div>
</body>
</html>